body {
    background: url(https://s-media-cache-ak0.pinimg.com/originals/b7/46/43/b74643cbbe7d68c54554544ec50cf999.jpg);
    background-attachment: fixed;
    font-family: "Crimson Text";
    padding-top: 60px;
    padding-bottom: 60px;
}

nav {
    font-family: "Crimson Text";
}

.navbar-custom {
  background: #2C3E50;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  border: none;
}

.navbar-brand {
    font-weight: bold;
    font-size: 24px;
    color: #fff !important;
}

.navbar-brand:hover {
    text-decoration: none;
    color: #efefef !important;
}

.nav a, .navbar-toggle {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}


.navbar-toggle:hover {
    background-color: #4aaaa5;
}

.navbar-custom .navbar-nav li a:hover {
  color: #18BC9C;
  outline: none;
}

.container-custom {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #4aaaa5;
    margin-top: 1%;
    margin-bottom: 2%;
}

#about {
    padding-top: 8%;
    padding-bottom: 12%;
}

#portfolio {
    padding-top: 1%;
    padding-bottom: 2%;
}

#contact {
    padding-top: 1%;
    padding-bottom: 2%;
}

.img-self {
    width: 75%;
    height: auto;
    border: 1em solid #4aaaa5;
    margin: 20% 15%;
}

.logo{
    margin-top: 20%;
    text-transform: uppercase;
    font-size: 12px;
}

.logo h4{
    font-family: 'Josefin Sans';
    text-shadow: 1px 1px 2px #ccc;
}

.home-description{
    text-shadow: 1px 1px 2px #ccc;
    font-style: italic;
    font-weight: 600;
    font-family: "Crimson";
    font-size: 19px;
    padding-top: 15px;
    padding-bottom: 25px;
    line-height: 29px;
}

.btn{
    padding: 10px 60px;
    height: 45px;
    font-size: 16px;
}

.btn-group-vertical{
    font-family: "Josefin Sans";
}

.btn-alias {
    background-color: transparent;
    color: #111;
    font-style: italic;
    font-weight: bold;
    border: 1px solid #111;
    border-radius: 0px !important;
    transition: all 0.4s ease-in-out;
    margin-bottom: 20px;
    font-family: "Crimson";
    font-size: 13px;
    }

    .btn-alias:hover {
    color: #fff;
    background-color: #4aaaa5;
    border-color: #cccccc;
    }

    .social a i {
    height: 80px;
    width: 80px;
    border: 1px solid #111;
    line-height: 80px;
    margin: 0 10px;
    color: #111;
    font-size: 60px;
    padding-bottom: 20px;
    transition: all 0.4s ease-in-out;
    }
    .social a:hover i{
    color: #fff;
    border-color: #cccccc;
    background-color: #4aaaa5;
    }

footer {
    color: #fff;
}
.fa-heartbeat {
    color: #ffafaf;
}

.fa-music {
    color: #ffafaf;
}

footer a  {
    color: #fff;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
    color: #fff;
}

hr {
  border: 0;
  border-top: 4px solid #6a6e6e;
  text-align: center;
  width: 30%;
}
hr:after {
  content: '\f005';
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -24px;
  padding: 0 10px;
  color: #4aaaa5;
  font-size: 28px;
}

#about p {
    padding: 20px;
    font-size: 1.3em;
    text-shadow: 0px 0.5px 0.5px;
}

.item {
        padding: 0;
        }

.item img {
    width: 70%;
    margin: auto;
    padding: 30px;
}

.carousel-caption a {
    color: #fff;
}

.carousel-caption a:hover {
    color: #fff;
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .carousel-caption h3 {
        font-size: 14px;
    }
    .carousel-caption p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1200px) {
    .left {
        padding-bottom: 40px;
    }
    .item {
        padding: 0;
    }
}

@media only screen and (max-width: 992px) {
    .img-self {
        width: 65%;
        margin: 10% auto;
    }
    .logo {
        margin-top: 10%;
    }
}

@media only screen and (max-width: 640px) {
    .carousel-caption h3 {
        font-size: 10px;
    }
    .carousel-caption p {
        font-size: 10px;
    }
    .carousel-indicators {
        display: none;
    }
    .item {
        padding: 0;
    }
}